.App {
  text-align: center;
  font-family: 'SCDream4';
}

.lmt-list {
  margin: 50px;
}

.lmt-col {
  border-bottom: 1px solid #eee;
  padding: 20px 0 20px 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.lmt-sd {
  display: block;
  margin: auto;
  height: 100px;
}

.lmt-tmb {
  margin: 0 2px 0 2px;
}

@font-face {
  font-family: "SCDream4";
  src: url("./fonts/SCDream4.otf") format("opentype");
}