.App {
  text-align: center;
  font-family: 'SCDream4';
}

.limited-list {
  margin: 50px;
}

.limited-col {
  border-bottom: 1px solid #eee;
  padding: 20px 0 20px 0;
}

.limited-sd {
  display: block;
  margin: auto;
}

@font-face {
  font-family: "SCDream4";
  src: url("./fonts/SCDream4.otf") format("opentype");
}